    </div><br><br><br><br><br>
  </div>
</div>
<center><div id="footer"><br>
<span style="-webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -o-transform: rotate(180deg); -khtml-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); display: inline-block;">
        &copy;
</span> 2007-2009, Mike Kozhevnikov

	<br><br>
	{LOADINFO}<br><br>
<a class="decor" href="https://github.com/MikeKozhevnikov/monitor.global" target="_blank">Source on GitHub</a><br> 

</div></center>

</body>
</html>
