<h1>monitor<span>.global</span></h1>
 
      <p><img src="./template/images/logomonitorglobal.jpg" alt="monitor.global" class="captioned_image"/>
      	<br><strong>monitor.global</strong> - система сбора и обработки статистики посещаемости и доступности различных интернет-сервисов, таких как <b>VK.com</b>, <b>Facebook.com</b>, <b>Steam</b>, <b>Twitch.tv</b>, <b>Twitter</b> и т.д. Система собирает и сохраняет данные об онлайне\оффлайне и о количестве онлайн пользователей сервисов <b>48</b> раз в сутки. Система позволяет получить следующие статистические данные о любом сервисе, как то: 
      <div id="box_ul"><ul>
      <li class="decor">данные об онлайне\оффлайне сервиса за промежуток времени (день \ неделя \ месяц)</li>
      <li class="decor">данные о количестве онлайн пользователей сервиса за промежуток времени (день \ неделя \ месяц)</li>
      <li class="decor">данные о сравнении количества онлайн пользователей для выбранного сервиса за разные промежутки времени (дни \ недели \ месяцы)</li>
      <li class="decor">данные о сравнении количества онлайн пользователей между любыми двумя сервисами за любые промежутки времени</li>
      </ul></div>
      <br> Для удобства, все сервисы разбиты на категории. <br>
      <br> Реализована поддержка многоязыкового интерфейса <br>
      При разработке данной системы были использованы возможности следующего ПО, технологий и библиотек:<br><br>
      <div id="box_ul"><ul>
        <li class="decor">apache</li>
        <li class="decor">php</li>
        <li class="decor">mysql</li>
        <li class="decor">ajax</li>
        <li class="decor">html\css\javascript</li>
        <li class="decor">php библиотека pChart (частично переписанная)</li>
        <li class="decor">php библиотека jChart</li>
        <li class="decor">php библиотека xmpphp (частично переписанная)</li>
        <li class="decor">swf библиотека Open Flash Chart</li>
        <li class="decor">javascript библиотека highslide (частично переписанная)</li>
        <li class="decor">linux cron</li>
      </ul></div>
      </p>Объем кода ~ 12К строк.<br><br><br><br><br>
       <div class="divider"></div>
