<div id="main"> 
  <div id="lcol"> 
    <div id="menu"> 
      <ul>
        <li><a href="./index.php">Главная<span></span></a></li>
        <li><a href="./category.php">Категории<span></span></a></li>
        <li><a href="./serverlist.php">Список всех сервисов<span></span></a></li>
        <li><a href="./statistics.php">Статистика системы<span></span></a></li>
        <li><a href="./about.php">О системе<span></span></a></li>
      </ul>
    </div>
    <div id="menu_end"></div>
    <!-- {MORE} -->
    Выбор языка:
<div class="menulang">
    <ul id="menulang">
        <li class="lang" value="1"><a href="" onClick="javascript:changelang('ru');"><img src="/template/images/flags/flag_russia.png"></a></li>
        <li class="lang"><a href="" onClick="javascript:changelang('ru');"><img src="/template/images/flags/flag_uk.png"></a></li>
        <li class="lang"><a href="" onClick="javascript:changelang('ru');"><img src="/template/images/flags/flag_germany.png"></a></li>
        <li class="lang"><a href="" onClick="javascript:changelang('ru');"><img src="/template/images/flags/flag_belarus.png"></a></li>
    </ul>
    <div id="slide"></div>
</div>

<script type="text/javascript">menuSlider.init('menulang','slide');</script>
  </div>
  <div id="rcol"> 
    <div id="rcontent">
